<div class = "mb-2 shadow-lg p-3 mb-5 bg-body-tertiary rounded outer">
  <div class="col-4">
 <h4 style = "color: rgb(100,100,100)">{{technique['title']}}</h4></span>
</div>
<div class = "mb-4">
 <b>Description: </b>
 {{technique['description']}}
</div>
  <div class = "col-" class = "dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Explore
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="https://imputation-techniques.shashwat12304.repl.co/KNN">Description</a></li>
    <li><a class="dropdown-item" href="https://github.com/shashwat12304/Imputation-techniques.git">Code</a></li>
    <li><a class="dropdown-item" href="#">Help</a></li>
  </ul>
  </div>
</div>